-
  var _title = ""
  var _sitename = "デコモジ"
  var _desc = "デコモジはSlackで使えるカスタムリアクション絵文字です。"
  var _keywords = "decomoji,デコモジ,リアクション絵文字,Reacji,スタンプ"
  var _class = "top"
  var _host = "https://decomoji.dev/"
  var _pagePath = ""
  var _permalink = _host+_pagePath
doctype html
html(lang="ja")
  include _partial/meta

  body(class=_class)
    .Hero
      .Hero__inner
        include _partial/logo

    .Content
      include _partial/header

      main.Main#main
        .Main__inner
          section.Section#introduction
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text デコモジ for Slackリアクション絵文字
                  .SectionHeading__ornament

              .Section__body
                p Slackのリアクション機能で使えるカスタム絵文字のアセットです。「デコモジ」はそれらの１つ１つ、または総称です。

                figure.Figure
                  img.Figure__image(src="/assets/image/screenshot_01.png", alt="")
                  figcaption.Figure__caption Slackのメッセージにリアクションで使うと、カラフルで楽しげな印象に早変わり！

                figure.Figure
                  img.Figure__image(src="/assets/image/screenshot_02.png", alt="")
                  figcaption.Figure__caption 「既読しました」の代わりにコンテクストを埋め込んでコミュニケーションが加速します！
          
          section.Section#features
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text 特徴
                  .SectionHeading__ornament

              .Section__body
                dl.DataList
                  dt.DataList__key カラフルなテキスト画像
                  dd.DataList__value Slack内でのユースケースにおいてコントラスト比0.0以上を担保しました！
                dl.DataList
                  dt.DataList__key ２行取りの割注レイアウト
                  dd.DataList__value 職人が１つ１つ手作業で字詰めした温かみのある割注は、独特の略語や無理のある長体をもコンテンツに変えます！
                dl.DataList
                  dt.DataList__key JUMBOMOJI・高精細ディスプレイ対応
                  dd.DataList__value 64px角で作られたデコモジだから拡大してもめちゃキレイ！
                dl.DataList
                  dt.DataList__key 読み仮字をアルファベット表記にしたファイル名
                  dd.DataList__value 例えば、「ナルホド」は naruhodo.png です。多くの場合このファイル名がデコモジ名となるので、半角で : を打ってからそのままデコモジを入力できます！
                dl.DataList
                  dt.DataList__key ダークモード対応
                  dd.DataList__value 世界初！#[sup: a(href="#note-01") *1]１つのファイルでダークモードでも読みやすさを担保しました！
                
                p デコモジは１つの画像の中に無限の文字数を組み込める画期的な圧縮システムです。
                
                p ハイコンテキスト！　だから使って楽しい！　Slackで今よりもっと迅速なコミュニケーションを可能にする、それがデコモジです！

                p#note-01
                  small 画像群のアセットプロダクトとしておそらくたぶんきっと世界初です
          
          section.Section#categories
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text ３つのカテゴリー
                  .SectionHeading__ornament

              .Section__body
                p デコモジは３つのカテゴリーに分けられています。

                dl.DataList
                  dt.DataList__key 基本セット（basic）
                  dd.DataList__value きっとおそらくたぶん、どんなSlackチームにもマッチする安心で安全なデコモジのセットです。
                dl.DataList
                  dt.DataList__key 拡張セット（extra）
                  dd.DataList__value オーサーが作りたいと思った気持ちのまま作り続けて収集がつかなくなったセットです。デコモジがより楽しくなる可能性を大いに秘めています。
                dl.DataList
                  dt.DataList__key 危険セット（explicit）
                  dd.DataList__value: strong このセットには暴力的なものや性的なものが含まれており、多くの人にとって安心で安全とは言い難いデコモジのセットです。利用には十分注意してください。
                
                p 最初は基本セットのみを利用し、慣れてきたら拡張セットを覗いてみてください。危険セットは本当に暴力的で性的なので、気持ちが不安定な時は見ないようにしてください。

                //- p なぜ危険セットのようなものを作ったのかについては、オーサーが書いたこのエントリを参照してください。
          
          section.Section#installation
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text インストール
                  .SectionHeading__ornament

              .Section__body
          
          section.Section#finder
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text デコモジを探す
                  .SectionHeading__ornament

              .Section__body
                p もしかして全てのカテゴリーをインストールしていただけましたか？　ありがとうございます！

                p しかしデコモジに「何があるのか」を知らないと使うことができません。

                p そこで我々は、デコモジの最新版のリストを取得し、インクリメンタルに検索するウェブアプリを作りました。
                
                p それが decomoji-finder です！

                figure.Figure
                  img.Figure__image(src="/assets/image/screenshot_03.gif", alt="")
                  figcaption.Figure__caption decomoji-finder で「あれ〜あのデコモジなんだっけ……」を曖昧検索しましょう！

                p decomoji-finder は入力した文字列で検索するだけでなく、自分がリアクションで使った時の青い背景の表示やダークモードの表示もエミュレートできます。もちろん、全てのデコモジをただ眺めるだけだってできます。

                p.Small もしデコモジの画像データやファイル名にミスを見つけたら、こっそり教えてくださいね！
          
          section.Section#case-study
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text 採用事例
                  .SectionHeading__ornament

              .Section__body
                p デコモジは名だたる組織の社内SlackやプロジェクトSlackで使われています！

                ul.SimpleList
                  li.SimpleList__item 株式会社まぼろし
                  li.SimpleList__item 株式会社ピクセルグリッド
                  li.SimpleList__item 株式会社AbemaTV
                  li.SimpleList__item 株式会社シフトブレイン
                  li.SimpleList__item 株式会社トゥーアール
                  li.SimpleList__item 株式会社サイバーエージェント
                  li.SimpleList__item 株式会社mediba
                  li.SimpleList__item ...他多数（順不同）

                p このプロダクトに興味を持っていただけたなら、ぜひあなたのSlackチームにインストールしてください！
          
          section.Section#supports
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text 支援
                  .SectionHeading__ornament

              .Section__body
          
          section.Section#closing
            .Section__inner
              header.Section__header
                h2.SectionHeading
                  .SectionHeading__text デコモジのある生活へ
                  .SectionHeading__ornament

              .Section__body
                p 我々は日々、我々のデコモジが一番強いEmojiだと信じてこのプロダクトを育てています。

                p Slackのみならず全てのコミュニケーションツールでデコモジを利用できたとしたら、なんと素晴らしいでしょう！

                p 実はデコモジはMITライセンスなので、あなたのプロダクトに組み込んで利用することが可能です。

                p 特に連絡は必要ありません。でもコピーライトは消さないようにお願いします。さらにクレジットを入れてくれたらとても嬉しい！

                p デコモジについてのあらゆる問い合わせは decomoji.dev@gmail.com で受け付けています。

                p デコモジでデジタルコミュニケーションがより豊かなものになりますように……それが我々の願いです。

      include _partial/footer
