.Hero {
  @at-root {
    & {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: linear-gradient(to bottom, #f7f6f2, #f7f2f4);
    }
  }
}
