header.Header#header
  .Header__inner
    h1.Header__logo
      include logo

    nav.Nav
      ul.Nav__list
        li.Nav__item
          a.Nav__link(href="#introduction") デコモジ for Slackリアクション絵文字
        li.Nav__item
          a.Nav__link(href="#features") 特徴
        li.Nav__item
          a.Nav__link(href="#categories") ３つのカテゴリー
        li.Nav__item
          a.Nav__link(href="#installation") インストール
        li.Nav__item
          a.Nav__link(href="#finder") デコモジを探す
        li.Nav__item
          a.Nav__link(href="#case") 採用事例
        li.Nav__item
          a.Nav__link(href="#supports") 支援
        li.Nav__item
          a.Nav__link(href="#closing") デコモジのある生活へ

