doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title デコモジ v5
    meta(content="width=device-width", name="viewport")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="description", content="「デコモジ」は Slack のリアクション機能で使える、最強カスタム絵文字セットです。")
    meta(name="keywords", content="decomoji,slack,custom,emoji")
    meta(property="og:title", content="デコモジ v5")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://decomoji.dev")
    meta(property="og:image", content="https://decomoji.dev/image/og-image.png")
    meta(property="og:site_name", content="デコモジ v5")
    meta(property="og:description", content="「デコモジ」は Slack のリアクション機能で使える、最強カスタム絵文字セットです。")
    meta(property="og:local", content="ja")

    link(rel="image_src", href="https://decomoji.dev/image/og-image.png")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons&family=Noto+Sans+JP:wght@400;700&display=swap&subset=japanese")
    link(rel="stylesheet", href="style/index.css")
    link(rel="canonical", href="https://decomoji.dev")
    script(src="script/index.ts")

  body
    main.Main
      h1.Title
        include ./_mod/_svg-logo.pug

      p.Copy
        span.Copy__phrase 「デコモジ」は
        span.Copy__phrase Slack のリアクション機能で使える
        span.Copy__phrase 最強カスタム絵文字セットです
      
      form.Switch#Switch
        label.Switch__label
          input.Switch__input(name="switch", type="radio", value="0", checked)
          span.Switch__text ライトモード
        label.Switch__label
          input.Switch__input(name="switch", type="radio", value="1")
          span.Switch__text ダークモード

      .Sample(aria-labelledby="Decomojis-desc")
        .VisuallyHidden#Decomojis-desc デコモジ v5 からいくつか抜粋した様子。デコモジには5000以上の豊富なカスタム絵文字があります。
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/a-ne.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/aguri-.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/akeome.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/akirame.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/annsinn.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/annzenndaiiti.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/arigatai_.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/arigati.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/arigatougozaimasu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/aruaru.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/auto_.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/bagurepo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/baibusu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/bennri.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/buzisibou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/cssisawesome.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/daijobanai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/daijoubu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/dareuma.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/desudesu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/desuyone.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/douyatteyatteruno.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/eeyann.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/emoi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/erai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/geijutu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/gennkiegao.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ginnnodanngann.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/giruthi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/gomennnasai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/gyoukaihyoujunn.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/hai-.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/he-.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/hitohanaze.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/hobohobo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/honntoda.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/hosii.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/hourennsou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/iginasi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/iine_.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ikkennrakutyaku.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/inisienosiyou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ippannkoukai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ippatuatetarou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/isdare.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/isnani.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/iyanayokann.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/iyasonorikutuhaokasii.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kaiketuzumi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kami.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kann.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kannzennrikai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kasikomariko.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kawaii.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kennkoudaiiti.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kinyuuzumi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/koseiyutaka.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kousokuzennsinn.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kozirase.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/kurorekisi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/lgtm.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/makasero.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/mazikayo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/medetai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/menndoi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/monndaiari.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/moudame.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/mousiranai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/mozisuu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/mugennnokanousei.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/mujunn.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/muteki.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/nakayosi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/nanntekottai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/naruhodanai.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/naruhodo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/naruhodowakarann.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/nazo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ne.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/odaizini.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/oisii.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/okotta_.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/okottenaiyo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/omedeto.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/oni.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/osakenisitureisimasu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/osewaninatteorimasu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/osyann.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/owakariitadaketadarouka_.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/pawa-purei.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/potitto.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ranntitaimu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/rikainngu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ryoukaidesu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/sagerisyasu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/saisyohaminnnamikeikenn.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/sasugada.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/seityoutuu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/seyanngu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/siranakatta.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/siyoudesu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/sokowonanntoka.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/sonokotobagakikitakatta.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/soudesu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/souiutokodazo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/suko.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/syousyouomatiwo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/syugodeka.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/syuku.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tabunnugokutoomoukarariri-susiyouze.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/taiouzumi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tannome.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tanonnda.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tanosimi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tasikani.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tennsaikayo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tiannwarui.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tikennda.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tomarunnjanelezo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tukaeru.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tyottodekiru.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/ukeru.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/unn.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/usodesyo.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/wwww.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/yabasou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/yattane.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/yazawaganannteiukana.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/yokuwakaranaikedonaotta.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/yuusyou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/zatu.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/zinnseijouhou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/zissitumuryou.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/extra/tumari.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/extra/nanndemodekomozi.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="./image/andmore.png", loading="lazy", aria-hidden="true")
        img.Sample__img(src="https://finder.decomoji.dev/decomoji/basic/tenntenntenn.png", loading="lazy", aria-hidden="true")

      a.Btn(href="./archive/decomoji-v5.zip", download)
        span.material-icons(role="img", aria-hidden="true") save_alt
        span.Btn__text ダウンロード

      a.Btn(href="https://git.io/decomoji", target="_blank", rel="noopener")
        include ./_mod/_svg-github.pug
        span.Btn__text GitHub

    footer.Footer
      small.Footer__smal Copyright ©︎ oti. Under the MIT License.
